.btn-clear{
    height: 40px;
    padding: 8px;
    margin: 8px;
    background-color: rgb(82, 238, 113);
    display: flex;
    flex: 1;
    font-size: 2em;
    text-align: center; 
    justify-content: center;
    vertical-align: middle;
    border-radius: 28px;
    border: 2px solid blue;
    cursor: pointer;
    user-select: none;
}

.btn-clear:hover{
    background-color: pink;
}